<h1>Home page</h1>


<p>This is the time of day:
	<%= Time.now %>
</p>


<article>
	<section id="main">
		<h1>Aircraft:</h1>
		<p>
			Any machine supported for flight in the air by buoyancy or by the dynamic action of air on its surfaces, especially powered airplanes, gliders, and helicopters.
		</p>
		<h1>History of flight</h1>
		<p>
			The dream of flying is as old as mankind itself. However, the concept of the airplane has only been around for two centuries. Before that time, men and women tried to navigate the air by imitating the birds. They built wings to strap onto their arm or machines with flapping wings called ornithopters. On the surface, it seemed like a good plan. After all, there are plenty of birds in the air to show that the concept does work.
		</p>
	</section>

	<section id="sidebar">
		<h1>Famous Airplanes</h1>
		<h2>The Wright Flyer</h2>
		<p>
			While it is debatable whether the Wright brothers were in fact first to achieve powered flight, there is no doubt that the Wright Flyer was a revolutionary machine of its time. Developed with elements from the brothers’ glider designs with some aerodynamic aspects tested using a rudimentary wind tunnel, the Wright Flyer was a canard biplane with a wooden airframe and fabric-covered wings. It was powered by a four-cylinder, 12-horsepower engine, driving two large, wooden, pusher-propellers rotating in opposite directions. A stick-like wood lever controlled the pitch and the airplane was steered by wing warping achieved by the pilot by sliding left and right, cradled on a mobile platform. The Wright Flyers’ first flights on December 17, 1903, documented by still photography, made it one of the most famous airplanes in history. And the Wright brothers’ exhibitions in the United States and Europe inspired aspiring airplane manufacturers to engineer their own designs.
		</p>
	</section>
</article>


<p>Find me in app/views/aaa_core/index.html.erb</p>
