/* navigation.css.scss
* In line styled navigation bar
*
*/





nav#links {
	ul {
		list-style: none;
      	background-color: #444;
      	text-align: center;
      	padding: 0;
     	margin: 0;
	}

	li {
		display: inline-block;
		margin: 0;
		padding: 10px;
		font-size: 1.5em;

		a,
		a:link,
		a:visited {
			color: #FFF;
			text-decoration: none;
		}
		a:hover {
      		background-color: #005f5f;
      	}
	}
}








/*





body {
	margin: 0;
	padding: 0;
	background: #ccc;

}


nav ul {
      list-style: none;
      background-color: #444;
      text-align: center;
      padding: 0;
      margin: 0;
    }

nav li {
	display: inline-block;
	margin: 0 2px;
	padding: 4px 6px;
	font-size: 1.5em;
}

nav li a,
	a:link,
	a:visited{
		color: #FFF;
		text-decoration: none;
	}
	a:hover {
      background-color: #005f5f;
    }*/
